@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>BookStore Home View</h1>
        <p>Today is: @DateTime.Now.ToString("dd-MM-yy")</p>
        <p>Use double @@ to escape @@</p>
        <img class="logo" src="~/images/logo.png" />
        <button class="btn btn-primary">Click me</button>
    </div>
    
</body>
</html>