@{
    Layout = "_Layout";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>BookStore Home</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed et dui scelerisque nisi consectetur bibendum. 
        Nulla placerat aliquet nulla, vel malesuada sem porttitor at. 
        Quisque ac ipsum non dui euismod placerat. Suspendisse potenti. 
        Praesent condimentum mollis dolor, in aliquet urna sollicitudin vel. 
        Etiam pellentesque laoreet nibh, eu placerat neque blandit sed. Morbi ac diam nunc. 
        Sed dictum metus at magna ullamcorper, rhoncus vulputate ex blandit. Nullam non nulla justo.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>
    
@section scripts{
    <script>
        $(document).ready(function () {
            alert("Ready");
        })
    </script>

}

