@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetAllBooks</title>
</head>
<body>
    <h1>List of all Books</h1>
    <button>Click here</button>
</body>
</html>